
h1{
    color:;
}
#g{
    color:yellow;
    
}
#g1{
    color:Blue;

}


#gato{

    padding: 50px;
    border-radius: 2%;
    background-color: #7838F2;
    border-radius: 8px;
    width: 600px;
    height: 400px;
    font-weight: normal;
    font-size: 85%;
    text-justify: justify;
    vertical-align:sub;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-spacing: 100px;
    
}
label{
    color: white;
    font-family:"Arial";
    font-size: 15px;
}

.h {
    background-image: url("{% static 'imagenes/neb.png' %}");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
    

#icon{
    vertical-align: middle;
}
span{
    display: block;
}
