<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia Espacial Mexicana</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <div class="containercss">
        <header>
            <h1>Agencia Espacial Mexicana</h1>
        </header>
        <div class="content">
            <div class="sidebar">
                <button class="menu-item" onclick="crearCarrusel('optica')">Óptica</button>
                <button class="menu-item" onclick="crearCarrusel('aeronautica')">Aeronáutica</button>
                <button class="menu-item" onclick="crearCarrusel('espacio')">Espacio</button>
            </div>
            <div class="main-content" id="main-content">
                <div id="miCarrusel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#miCarrusel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#miCarrusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#miCarrusel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../static/images/optica.jpeg" class="d-block w-100" alt="Optica Espacial">
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                La óptica es una rama de la física que se dedica al estudio de la luz visible:
                                sus propiedades y su comportamiento. También analiza sus eventuales aplicaciones en la
                                vida del ser humano, como es la construcción de instrumentos para detectarla o valerse de ella
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../static/images/aurona.jpeg" class="d-block w-100" alt="Optica Avanzada">
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                La ingeniería Aeronáutica se encarga del diseño, mantenimiento y puesta a punto de todo tipo
                                de aeronaves: aviones comerciales, de pasajeros, helicópteros, hidroaviones, etc.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../static/images/espacio.jpeg" class="d-block w-100" alt="Tecnologias Opticas">
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                La exploración espacial designa los esfuerzos del ser humano en estudiar el espacio y sus astros desde el
                                punto de vista científico y de su explotación económica.
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#miCarrusel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#miCarrusel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        const urls = {
            content: "{% url 'content' %}",
        };
    </script>
</body>

</html>