<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="container">
        <div class="image-container"></div>
        <div class="form-container">
            <div class="language-selector">
                <button id="btn-eng" onclick="cambiarIdioma('en')">Eng</button>
                <button id="btn-esp" onclick="cambiarIdioma('es')" class="active">Esp</button>
            </div>
            <form method="post">
                {% csrf_token %}
                <label id="label-usuario" for="usuario">{% if idioma == 'en' %}Username{% else %}Usuario{% endif%}</label>
                <input type="text" id="username" name="username">
                <label id="label-contrasena" for="contrasena">{% if idioma == 'en' %}Password{% else %}Contraseña{%endif %}</label>
                <input type="password" id="password" name="password">
                <button type="submit" id="submit-btn">{% if idioma == 'en' %}Login{% else %}Iniciar sesión{% endif%}</button>
            </form>
            <div class="register-link">
                <span id="register-text">{% if idioma == 'en' %}New here?{% else %}¿Eres nuevo?{% endif %}</span>
                <a id="register-link" href="#">{% if idioma == 'en' %}Sign up here{% else %}Regístrate aquí{% endif%}</a>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/login.js' %}"></script>
</html>